aws_region       = "us-east-1"
project_name     = "banking-devops"
environment      = "dev"

# Optional EC2 + Minikube setup
create_minikube_ec2 = true
ec2_size_profile    = "small"
ec2_instance_type_override = ""
key_name            = "my-aws-keypair"

# Use your own public IP with /32 for better security
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32"
allowed_app_cidr = "YOUR_PUBLIC_IP/32"
